

<div class="modal-content">
    <div class="modal-header">
        <h4>Статьи пользователя: @Model.First().Article.UploadedUser.UserName</h4>
        <div>
            <button class="btn btn-secondary" data-dismiss="modal" area-hidden="true">Закрыть</button>
        </div>
    </div>
    <div class="modal-body">
        
    </div>
</div>