@model News.Models.RegisterViewModel

@{
    var error = TempData["Error"] as string;
    ViewData["Title"] = "Регистрация";
}

<head>
    <link rel="stylesheet" href="~/css/Account/login-and-register.css" asp-append-version="true" />
</head>

<div class="modal-content">
    <form method="post" asp-anti-forgery="true" asp-action="Register" asp-controller="Account">
        <div class="modal-header">
            <h4>Регистрация</h4>

            <div>
                <input class="btn btn-primary" type="submit" value="Регистрация" area-hidden="true" />
                <button class="btn btn-secondary" data-dismiss="modal" area-hidden="true">Закрыть</button>
            </div>
        </div>

        <div class="modal-body">

            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>

                <div class="form-group">
                    <label asp-for="Login"></label><br />
                    <input type="text" asp-for="Login" />
                    <span asp-validation-for="Login"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label><br />
                    <input type="email" asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label><br />
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                @if (!String.IsNullOrEmpty(error))
                {
                    <div class="alert alert-danger" role="alert">
                        @error;
                    </div>
                }

            </div>

        </div>

    </form>
</div>
